*{
    margin: 0;
    box-sizing: border-box;
}
.beauty{
    background-color: rgb(234, 158, 234);
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 30px;
    padding-left: 10px;
    height: 70px;  
    display: flex; 
}
.home{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 760px;
    font-size: 18px;
    
}
.home a{
    text-decoration: none;
    color: aliceblue;
}
.home a:hover{
    color: rgb(207, 67, 193);
}
img{
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}
.lorem{
    font-size: 20px;
    color: rgb(234, 158, 234);
}
.slikaa{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.tekst{
    width: 400px;
    font-size: 20px;
    color: rgb(234, 158, 234);
}
.tekst h3{
    background-color: rgb(234, 158, 234);
    color: aliceblue;
    border-radius: 2px;
}
.active {
    border-bottom: 2px solid white;
}
footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 158, 234);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .levo, .desno {
    text-align: center;
  }
  
  .levo p{
    color: white;
    margin-bottom: 12px;
  }
  .desno a {
    margin-left: 10px;
    color: white;
    margin-left: 30px;
    font-size: 25px;
  }
  
  .desno a:hover{
    color: rgb(207, 67, 193) ;
  }
  .home a:hover{
    color: rgb(207, 67, 193);
}
.kebab{
    width: 400px;
    height: 265px;
}
.menem{
    width: 400px;
    height: 205px;
}